/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
} */

html {
    background-color: rgb(169, 47, 75);
}

main {
    background-color: rgb(169, 47, 75);
    padding: 2rem 0;
}

img {
    width: 100%;
}

h1 {
    text-align: center;
}

.white-bg {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    gap: 2rem;
}

.radius {
    border-radius: 1rem;
    padding: 2rem;
}

.forms {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.box_ticket {
    display: flex;
    gap: 8rem;
}

.grey-section {
    background-color: rgb(183, 183, 183);
}

h4 {
    white-space: nowrap;
}