/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
} */

main {
    background-color: rgb(169, 47, 75);
}

h1 {
    text-align: center;
}

.white-bg {
    background-color: rgb(255, 255, 255);
}

.radius {
    border-radius: 1rem;
    padding: 2rem;
}

.forms {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.btn {
    padding: 
}